*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

button{
    border: none;
    background: none;
}

body{
    background-color: rgba(245,245,245,.25);
    overflow-x : hidden;
    /* background-color: #fff; */
}

header{
    width: 100%;
    display: flex;
    height: 60px;
    padding: 0 50px;
    line-height: 60px;
}

.header{
    position : fixed;
    top : 0px;
    z-index : 5;
    background-color : rgb(250,250,250);
}

/* header:hover{
    background-color: #fff;
} */

header > div, ul{
    display: flex;
}

.left {
    flex: 1;
    justify-content: flex-start;
}

.left > .logo{
    display: flex;
    margin-right: 10px;
}

.logo > a{
    font-family: 'Audiowide', cursive;
    font-size: 35px;
}

.left > .search {
    border-radius: 20px;
    margin: 10px 0;
    display: flex;
    flex: 1;
    padding: 5px 10px;
    margin-left: 30px;
}

.search > i{
    display: flex;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.search:hover{
    /* border: 1px solid #333; */
    background-color: #fff;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,.1);
}

.search:hover > button > i{
    display: flex;
    flex:1;
    color: #333;
    font-size: 18px;
}

.left > .search > input{
    border: none;
    flex: 2;
    display: flex;
    font-size: 15px;
    padding: 8px;
    background: none;
}

.search > button > i{
    display: none;
}

.center{
    flex: 2;
    justify-content: center;
    padding: 0 60px;
}

.center > li{
    display: flex;
    flex: 1;
    justify-content: center;
}

.center > li > a{
    font-family: 'Ropa Sans', sans-serif;
    font-size: 18px;
}

.center > li:hover{
    border-bottom: 2px solid #333;
}

.right{
    flex: 1;
    justify-content: flex-end;
}

.btn{
    border-radius: 3px;
    color: #333;
    font-size: 15px;
    padding: 10px 20px;
    font-family: "Istok Web", sans-serif;
}

.btn:hover{
    background-color: #fff; 
    border-radius: 20px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,.1);
}

.btn > i{
    margin-right: 8px;
}
.visual{
    display: flex;
    width: 100%;
    height: 900px;
    padding: 0 50px;
}

.img_box{
    display: flex;
    flex: 1;
    position: relative;
}

.img_box > .img{
    /* top: 50%;
    transform: translateY(-50%); */
    display: flex;
    flex: 1;
    height: 50%;
    position: relative;
    overflow: hidden;
}

.img_box > .img:nth-child(1){
    top: 150px;
    width: 150%;
    background-color: rgb(210,210,210);
}

.img_box > .img:nth-child(2){
    top: 350px;
    right: 50px;
    background-color: rgb(100,100,100);
}

.img_box > .img > img{
    width: 100%;
    position: absolute;
    animation: slider 2s;
}

.title_box{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.visual > .title_box{
    margin: auto;
}

.title{
    font-size: 40px;
    font-family: 'PT Sans', sans-serif; 
}

.title > span{
    font-family: 'Audiowide', cursive;
}

.content{
    font-size: 18px;
    padding-left: 10px;
    padding-top: 10px;
}

.btn2{
    background-color: #222;
    color: #fff;
    border-radius: 3px;
    padding: 5px 8px;
}

.btn2:hover{
    background-color: #111;
}

.title_box > .btn2{
    padding: 8px 20px;
    text-align: center;
    margin-right: 700px;
    margin-top: 20px;
    /* border-radius: 30px; */
    border-radius: 5;
    font-size: 20px;
}

.title_box > .btn2:hover{
    background-color: #111;
}

/* .sub_title{
    font-family: 'Roboto Mono', monospace;
} */

@keyframes slider{
    0%{
        top: -100%;
    }

    100%{
        top: 0%;
    }
}

@keyframes slider2{
    0%{
        right: -100%;
    }

    100%{
        right : 0%;
    }
}

@keyframes slider3{
    0%{
        left: -100%;
    }

    100%{
        left: 0%;
    }
}

.best{
    padding: 0 50px;
}

.best > .sub_title{
    text-align: center;
    padding: 50px 50px;
    line-height: 1.7;
    padding-top: 0;
    font-size: 15px;
    color: #777;
}

.best > .title{
    padding-bottom: 20px;
    text-align :center;
    font-size: 50px;
}

.best_box > .img_box{
    display: flex;
    flex: 0.1;
}

.best_box > .title_box{
    display: flex;
}

.best_box{
    display: flex;
}

.best_box > .title_box{
    /* background-color: rgba(0,0,0,.5); */
    overflow: hidden;
}

.best_box_1 > .title_box > .btn2{
    margin-left: 0;
    margin-right: 80%;
}

.best_box > .title_box{
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 40px;
    position: relative;
}

.best_box_1 > .title_box{
    text-align: left;
    animation: slider2 2s;
}

.best_box_2 > .title_box{
    animation : slider3 2s;
    text-align: right;
}

.best_box_2 > .img_box{
    display: flex;
    justify-content: flex-end;
}

.best_box_2 > .title_box > .btn2{
    margin-left: 80%;
    margin-right: 0;
}

.best_box > .title_box > .content{
    font-size: 15px;
    line-height: 1.5;
}

/* .best_box_card{
    padding: 50px;
    margin: auto;
}

.best_card{
    display: inline-block;
    margin: 0 10px;
}

.best_card > .img{
    position: relative;
}

.best_card > .img > img{
    width: 300px;
}

.best_card > .img > .box > .p_box{
    line-height: 1.7;
    text-align: left;
    padding-left: 50px;
}

.best_card > .img > .box > .p_box > p{
    font-size: 20px;
    width: 100%;
    color: #fff;
}

.best_card > .img > .box >  .button_group > button{
    text-align: center;
    font-size: 15px;
}

.button_group {
    margin-top: 20px;
}

.box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    display: none;
    font-size: 15px;
    margin-top: 10px;
} */

/* .best_card:hover{
    transition: all 0.8s;
    transform: scale(1.1);
} */

/* .best_card:hover > .img::after{
    content: "";
    background-color: rgba(0,0,0,.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.best_card:hover > .img > .box{
    display: block;
    z-index: 5;
} */

.new{
    padding: 0 50px;
}

.new > .title{
    text-align: center;
    padding-bottom: 20px;
}

.new > .sub_title{
    text-align: center;
    line-height: 1.5;
    color: #777;
    font-size: 14px;
}

.new_box{
    padding: 50px 10px;
}

.card{
    background-color: #fff;
    display: inline-block;
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    padding: 15px 10px;
    border-radius: 3px;
    margin: 0 60px;
}

.card > .img > img{
    width: 300px;
    height: 300px;
}

.card > .p_box{
    line-height: 1.7;
    padding-left: 10px;
    text-align: center;
}

.card > .p_box > .button_group{
    margin-top: 10px;
}